.big {
  /* max-width: 1004px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.arrow{
    /* max-width: 900px; */
    width: 100%;
    display: flex;
    display:none;
    justify-content: center;
    align-items: center;
}
.top-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  background-color: #252b32;
  overflow: hidden;
}
.top-text {
  background-color: rgb(66, 70, 75);
  position: absolute;
  top: 100px;
  left: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.top-text p {
  color: white;
}
.leet {
  /* width:60%; */
  height: 400px;
}
.calender{
    width: inherit;
    display: flex;
    justify-content: flex-end;
    padding: 17px;
    position: absolute;
    align-items: center;
}
.calender svg{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.4);
    color: white;
    border-radius:50%;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
}
.calender svg:hover{
    background-color:rgba(0, 0, 0,0.3);;
}
.card {
  margin-top: -50px;
  display: flex;
  justify-content: center;
}
.card a {
  color: #866eb2;
  text-decoration: none;
  background-color: #f3f3f3;
}
.card h6 {
  font-size: 20px;
  padding: 0px 10px;
  font-weight: 700;
  margin-top: -4px;
  margin-bottom: 0px;
}
.card p {
  /* width: 100%; */
  margin: 0;
}
.card1 {
  display: flex;
  margin: auto;
  max-width: 900px;
}
.card1 a {
  color: #866eb2;
  text-decoration: none;
  background-color: #f3f3f3;
}
.card1 h6 {
  font-size: 20px;
  padding: 0px 10px;
  font-weight: 700;
  margin-top: -4px;
  margin-bottom: 0px;
}
.card1 p {
  /* width: 100%; */
  margin: 0;
}

.inside {
  background-color: #f3f3f3;
  margin-right: 20px;
  /* border: 3px solid rgba(249, 249, 249, 0.1); */
  box-shadow: 1px 1px 10px #888888;
  width: 360px;
  color: #4d689e;
  cursor: pointer;
  border-radius: 10px;
}

.inside:hover {
  box-shadow: 1px 1px 10px #000;
}

.inside img {
  border-radius: 10px 10px 0 0;
}
.inside2 {
  background-color: #f3f3f3;
  margin-right: 20px;
  /* border: 3px solid rgba(249, 249, 249, 0.1); */
  /* box-shadow: 1px 1px 10px #888888; */
  width: 360px;
  color: #4d689e;
  cursor: pointer;
  border-radius: 10px;
}
.active{
    background-color: rgb(242,243,244);
    border-radius: 8px;
}
.inside2:hover h6 {
  color: blue;
}

.inside2 img {
  border-radius: 10px;
}
.box2 {
  border-bottom: 1px solid #f5eaea;
  padding-bottom: 50px;
  display: flex;
  max-width: 900px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.box3 {
  /* border-bottom: 1px solid #f5eaea; */
  /* padding-bottom: 50px; */
  /* display: flex; */
  max-width: 900px;
  font-size: 18px;
  margin: auto;
  justify-content: center;
  padding: 0 20px;
  display: none;
}
.mobile {
  display: flex;
  font-weight: bold;
}
.mobile p:first-child {
  background-color: rgb(231, 236, 240);
}
.mobile p:hover {
  background-color: rgb(231, 236, 240);
}
.mobile p {
  margin: 10px 10px;
}
.featured {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textLeft {
  cursor: pointer;
  display: flex;
  font-size: 12px;
  color: rgb(120, 120, 228);
  align-items: center;
  justify-content: center;
}
.textLeft:hover{
  color: rgb(6, 80, 184);
}

.td2 {
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  /* height: 20px; */
  background-color: rgb(242, 243, 244);
  border-radius: 5px;
  color: rgb(183, 134, 230);
}
.data {
  margin-left: 15px;
  line-height: 1.5;
}
.up {
  font-weight: 600;
  font-size: 17px;
}
.down {
  font-size: 11px;
  color: grey;
}

@media screen and (max-width: 768px) {
  .card {
    position: absolute;
    margin-top: 108px;
    margin-left: 400px;
  }
  .featured {
    margin-top: 275px;
    margin-top: 189px;
    font-size: 14px;
    padding: 0 6px;
  }
  .box2 {
    margin-top: -380px;
  }
  .arrow{
    height: 400px;
    display: flex;
  }
  .box3 {
    display: block;
  }
  .last {
    display: none;
  }
  .up{
    font-size: 14px;
}
.down{
    font-size: 10px;
  }
}
