.middle {
  margin: 72px 0;
}
.ham {
  display: none;
}
.hambur {
  /* display: none !important; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.burger {
  display: none !important;
  /* position: absolute; */
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

@media only screen and (max-width: 768px) {
  .hide {
    width: 0;
    display: none !important;
  }
  .hideright {
    display: none !important;
  }
  .wrap {
    width: 50vw;
    display: flex;
    justify-content: space-between;
  }
  .ham {
    display: block !important;
  }
  .hambur {
    /* display: block !important; */
  }
}
